################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/source/repos/WindowsFormsApp/WindowsFormsApp/Form1.cs
/source/repos/WindowsFormsApp/WindowsFormsApp/Form1.Designer.cs
node_modules
